## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\61452\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' 
application_df =application_df.drop(columns=['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
name_to_replace = list(name_counts[name_counts<5].index)
 
# Replace in dataframe
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [7]:
# Look at APPLICATION TYPEvalue counts for binning
applicationtype_binning = application_df["APPLICATION_TYPE"].value_counts()
applicationtype_binning

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application_type to be replaced
# use the variable name `classifications_to_replace`
application_type_to_replace = list(applicationtype_binning[applicationtype_binning<500].index)

# Replace in dataframe
for app in application_type_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()
#application_type_to_replace

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [12]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features =  X_train_scaled.shape[1]
hidden_nodes_layer1=10
hidden_nodes_layer2=5
hidden_nodes_layer3=1
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                4530

 dense_4 (Dense)             (None, 5)                 55

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 4591 (17.93 KB)
Trainable params: 4591 (17.93 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\61452\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\61452\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\61452\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

684/684 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7455 - val_loss: 0.4548 - val_accuracy: 0.7968
Epoch 2/100
684/684 [==============================] - 1s 925us/step - loss: 0.4494 - accuracy: 0.7874 - val_loss: 0.4371 - val_accuracy: 0.8028
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4372 - accuracy: 0.7924 - val_loss: 0.4347 - val_accuracy: 0.7997
Epoch 4/100
684/684 [==============================] - 1s 928us/step - loss: 0.4319 - accuracy: 0.7948 - val_loss: 0.4308 - val_accuracy: 0.8007
Epoch 5/100
684/684 [==============================] - 1s 918us/step - loss: 0.4291 - accuracy: 0.7967 - val_loss: 0.4323 - val_accuracy: 0.8023
Epoch 6/100
684/684 [==============================] - 1s 925us/step - loss: 0.4271 - accuracy: 0.7967 - val_loss: 0.4358 - val_accuracy: 0.8036
Epoch 7/100
684/684 [==============================] - 1s 906us/step - loss: 0.4263 - accuracy: 0.7972 - val_loss: 0.4346 - val_accuracy: 0.8056
Epoch 8/100
684/684 [==============================] - 1s 901us/step - loss: 0.4258 - accuracy: 0.7972 - val_loss: 0.4354 - val_accuracy: 0.8031
Epoch 9/100
684/684 [==============================] - 1s 897us/step - loss: 0.4241 - accuracy: 0.8004 - val_loss: 0.4326 - val_accuracy: 0.8012
Epoch 10/100
684/684 [==============================] - 1s 915us/step - loss: 0.4234 - accuracy: 0.7995 - val_loss: 0.4368 - val_accuracy: 0.8005
Epoch 11/100
684/684 [==============================] - 1s 922us/step - loss: 0.4228 - accuracy: 0.7994 - val_loss: 0.4355 - val_accuracy: 0.8046
Epoch 12/100
684/684 [==============================] - 1s 911us/step - loss: 0.4222 - accuracy: 0.7998 - val_loss: 0.4334 - val_accuracy: 0.8036
Epoch 13/100
684/684 [==============================] - 1s 907us/step - loss: 0.4217 - accuracy: 0.7997 - val_loss: 0.4372 - val_accuracy: 0.7987
Epoch 14/100
684/684 [==============================] - 1s 884us/step - loss: 0.4215 - accuracy: 0.7993 - val_loss: 0.4360 - val_accuracy: 0.8023
Epoch 15/100
684/684 [==============================] - 1s 944us/step - loss: 0.4210 - accuracy: 0.8004 - val_loss: 0.4378 - val_accuracy: 0.8033
Epoch 16/100
684/684 [==============================] - 1s 946us/step - loss: 0.4201 - accuracy: 0.8021 - val_loss: 0.4368 - val_accuracy: 0.8038
Epoch 17/100
684/684 [==============================] - 1s 979us/step - loss: 0.4200 - accuracy: 0.8003 - val_loss: 0.4356 - val_accuracy: 0.8028
Epoch 18/100
684/684 [==============================] - 1s 928us/step - loss: 0.4197 - accuracy: 0.8016 - val_loss: 0.4362 - val_accuracy: 0.8036
Epoch 19/100
684/684 [==============================] - 1s 912us/step - loss: 0.4190 - accuracy: 0.8016 - val_loss: 0.4368 - val_accuracy: 0.8059
Epoch 20/100
684/684 [==============================] - 1s 926us/step - loss: 0.4185 - accuracy: 0.8018 - val_loss: 0.4376 - val_accuracy: 0.8036
Epoch 21/100
684/684 [==============================] - 1s 928us/step - loss: 0.4183 - accuracy: 0.8018 - val_loss: 0.4354 - val_accuracy: 0.8054
Epoch 22/100
684/684 [==============================] - 1s 943us/step - loss: 0.4179 - accuracy: 0.8028 - val_loss: 0.4384 - val_accuracy: 0.8049
Epoch 23/100
684/684 [==============================] - 1s 927us/step - loss: 0.4176 - accuracy: 0.8023 - val_loss: 0.4380 - val_accuracy: 0.8028
Epoch 24/100
684/684 [==============================] - 1s 903us/step - loss: 0.4168 - accuracy: 0.8020 - val_loss: 0.4358 - val_accuracy: 0.8056
Epoch 25/100
684/684 [==============================] - 1s 887us/step - loss: 0.4173 - accuracy: 0.8022 - val_loss: 0.4381 - val_accuracy: 0.8023
Epoch 26/100
684/684 [==============================] - 1s 908us/step - loss: 0.4165 - accuracy: 0.8027 - val_loss: 0.4414 - val_accuracy: 0.8023
Epoch 27/100
684/684 [==============================] - 1s 888us/step - loss: 0.4165 - accuracy: 0.8027 - val_loss: 0.4363 - val_accuracy: 0.8038
Epoch 28/100
684/684 [==============================] - 1s 984us/step - loss: 0.4160 - accuracy: 0.8025 - val_loss: 0.4382 - val_accuracy: 0.8018
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4160 - accuracy: 0.8027 - val_loss: 0.4392 - val_accuracy: 0.8044
Epoch 30/100
684/684 [==============================] - 1s 989us/step - loss: 0.4156 - accuracy: 0.8032 - val_loss: 0.4373 - val_accuracy: 0.8036
Epoch 31/100
684/684 [==============================] - 1s 997us/step - loss: 0.4155 - accuracy: 0.8038 - val_loss: 0.4380 - val_accuracy: 0.8028
Epoch 32/100
684/684 [==============================] - 1s 973us/step - loss: 0.4146 - accuracy: 0.8038 - val_loss: 0.4399 - val_accuracy: 0.8002
Epoch 33/100
684/684 [==============================] - 1s 965us/step - loss: 0.4150 - accuracy: 0.8036 - val_loss: 0.4367 - val_accuracy: 0.8031
Epoch 34/100
684/684 [==============================] - 1s 930us/step - loss: 0.4147 - accuracy: 0.8025 - val_loss: 0.4375 - val_accuracy: 0.8038
Epoch 35/100
684/684 [==============================] - 1s 931us/step - loss: 0.4144 - accuracy: 0.8033 - val_loss: 0.4373 - val_accuracy: 0.8020
Epoch 36/100
684/684 [==============================] - 1s 930us/step - loss: 0.4144 - accuracy: 0.8029 - val_loss: 0.4390 - val_accuracy: 0.8012
Epoch 37/100
684/684 [==============================] - 1s 946us/step - loss: 0.4142 - accuracy: 0.8030 - val_loss: 0.4377 - val_accuracy: 0.8031
Epoch 38/100
684/684 [==============================] - 1s 958us/step - loss: 0.4133 - accuracy: 0.8043 - val_loss: 0.4396 - val_accuracy: 0.8025
Epoch 39/100
684/684 [==============================] - 1s 926us/step - loss: 0.4134 - accuracy: 0.8044 - val_loss: 0.4384 - val_accuracy: 0.8020
Epoch 40/100
684/684 [==============================] - 1s 905us/step - loss: 0.4133 - accuracy: 0.8035 - val_loss: 0.4391 - val_accuracy: 0.8020
Epoch 41/100
684/684 [==============================] - 1s 959us/step - loss: 0.4131 - accuracy: 0.8035 - val_loss: 0.4383 - val_accuracy: 0.8025
Epoch 42/100
684/684 [==============================] - 1s 959us/step - loss: 0.4129 - accuracy: 0.8043 - val_loss: 0.4412 - val_accuracy: 0.8020
Epoch 43/100
684/684 [==============================] - 1s 932us/step - loss: 0.4127 - accuracy: 0.8032 - val_loss: 0.4372 - val_accuracy: 0.8028
Epoch 44/100
684/684 [==============================] - 1s 953us/step - loss: 0.4127 - accuracy: 0.8045 - val_loss: 0.4400 - val_accuracy: 0.8031
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4121 - accuracy: 0.8049 - val_loss: 0.4395 - val_accuracy: 0.8018
Epoch 46/100
684/684 [==============================] - 1s 996us/step - loss: 0.4120 - accuracy: 0.8038 - val_loss: 0.4390 - val_accuracy: 0.8007
Epoch 47/100
684/684 [==============================] - 1s 936us/step - loss: 0.4118 - accuracy: 0.8033 - val_loss: 0.4405 - val_accuracy: 0.8002
Epoch 48/100
684/684 [==============================] - 1s 953us/step - loss: 0.4118 - accuracy: 0.8051 - val_loss: 0.4376 - val_accuracy: 0.8012
Epoch 49/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8047 - val_loss: 0.4394 - val_accuracy: 0.8020
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8053 - val_loss: 0.4396 - val_accuracy: 0.7999
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4111 - accuracy: 0.8039 - val_loss: 0.4401 - val_accuracy: 0.8051
Epoch 52/100
684/684 [==============================] - 1s 978us/step - loss: 0.4109 - accuracy: 0.8048 - val_loss: 0.4412 - val_accuracy: 0.8036
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8058 - val_loss: 0.4425 - val_accuracy: 0.8025
Epoch 54/100

684/684 [==============================] - 1s 1ms/step - loss: 0.4108 - accuracy: 0.8058 - val_loss: 0.4406 - val_accuracy: 0.7987
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4103 - accuracy: 0.8046 - val_loss: 0.4399 - val_accuracy: 0.8025
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4108 - accuracy: 0.8048 - val_loss: 0.4413 - val_accuracy: 0.8012
Epoch 57/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4103 - accuracy: 0.8043 - val_loss: 0.4415 - val_accuracy: 0.8020
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8057 - val_loss: 0.4422 - val_accuracy: 0.8031
Epoch 59/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4106 - accuracy: 0.8054 - val_loss: 0.4406 - val_accuracy: 0.8012
Epoch 60/100
684/684 [==============================] - 1s 874us/step - loss: 0.4104 - accuracy: 0.8054 - val_loss: 0.4428 - val_accuracy: 0.8007
Epoch 61/100
684/684 [==============================] - 1s 884us/step - loss: 0.4103 - accuracy: 0.8065 - val_loss: 0.4433 - val_accuracy: 0.8012
Epoch 62/100
684/684 [==============================] - 1s 904us/step - loss: 0.4098 - accuracy: 0.8043 - val_loss: 0.4416 - val_accuracy: 0.8033
Epoch 63/100
684/684 [==============================] - 1s 899us/step - loss: 0.4098 - accuracy: 0.8059 - val_loss: 0.4434 - val_accuracy: 0.8015
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8056 - val_loss: 0.4441 - val_accuracy: 0.7963
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8059 - val_loss: 0.4428 - val_accuracy: 0.8049
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8053 - val_loss: 0.4452 - val_accuracy: 0.8002
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8061 - val_loss: 0.4445 - val_accuracy: 0.8028
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8054 - val_loss: 0.4424 - val_accuracy: 0.8018
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4090 - accuracy: 0.8062 - val_loss: 0.4429 - val_accuracy: 0.8012
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4094 - accuracy: 0.8054 - val_loss: 0.4432 - val_accuracy: 0.8007
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8049 - val_loss: 0.4420 - val_accuracy: 0.7997
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4087 - accuracy: 0.8057 - val_loss: 0.4439 - val_accuracy: 0.7992
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4086 - accuracy: 0.8068 - val_loss: 0.4435 - val_accuracy: 0.7994
Epoch 74/100
684/684 [==============================] - 1s 936us/step - loss: 0.4086 - accuracy: 0.8055 - val_loss: 0.4444 - val_accuracy: 0.7979
Epoch 75/100
684/684 [==============================] - 1s 963us/step - loss: 0.4085 - accuracy: 0.8059 - val_loss: 0.4426 - val_accuracy: 0.8015
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4087 - accuracy: 0.8053 - val_loss: 0.4419 - val_accuracy: 0.7997
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4084 - accuracy: 0.8062 - val_loss: 0.4425 - val_accuracy: 0.7989
Epoch 78/100
684/684 [==============================] - 1s 993us/step - loss: 0.4083 - accuracy: 0.8055 - val_loss: 0.4471 - val_accuracy: 0.7994
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4082 - accuracy: 0.8054 - val_loss: 0.4452 - val_accuracy: 0.7994
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8055 - val_loss: 0.4413 - val_accuracy: 0.7974
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8068 - val_loss: 0.4443 - val_accuracy: 0.7987
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4082 - accuracy: 0.8061 - val_loss: 0.4414 - val_accuracy: 0.7997
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8061 - val_loss: 0.4428 - val_accuracy: 0.7999
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4080 - accuracy: 0.8060 - val_loss: 0.4437 - val_accuracy: 0.7994
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4075 - accuracy: 0.8059 - val_loss: 0.4444 - val_accuracy: 0.8005
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4072 - accuracy: 0.8065 - val_loss: 0.4445 - val_accuracy: 0.8002
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4077 - accuracy: 0.8069 - val_loss: 0.4449 - val_accuracy: 0.7984
Epoch 88/100
684/684 [==============================] - 1s 971us/step - loss: 0.4078 - accuracy: 0.8056 - val_loss: 0.4413 - val_accuracy: 0.7997
Epoch 89/100
684/684 [==============================] - 1s 948us/step - loss: 0.4077 - accuracy: 0.8049 - val_loss: 0.4439 - val_accuracy: 0.8007
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8057 - val_loss: 0.4462 - val_accuracy: 0.8020
Epoch 91/100
684/684 [==============================] - 1s 961us/step - loss: 0.4078 - accuracy: 0.8070 - val_loss: 0.4454 - val_accuracy: 0.7994
Epoch 92/100
684/684 [==============================] - 1s 958us/step - loss: 0.4074 - accuracy: 0.8065 - val_loss: 0.4477 - val_accuracy: 0.7992
Epoch 93/100
684/684 [==============================] - 1s 912us/step - loss: 0.4074 - accuracy: 0.8055 - val_loss: 0.4453 - val_accuracy: 0.8025
Epoch 94/100
684/684 [==============================] - 1s 914us/step - loss: 0.4074 - accuracy: 0.8060 - val_loss: 0.4460 - val_accuracy: 0.8020
Epoch 95/100
684/684 [==============================] - 1s 991us/step - loss: 0.4070 - accuracy: 0.8064 - val_loss: 0.4443 - val_accuracy: 0.7997
Epoch 96/100
684/684 [==============================] - 1s 991us/step - loss: 0.4069 - accuracy: 0.8067 - val_loss: 0.4453 - val_accuracy: 0.8002
Epoch 97/100
684/684 [==============================] - 1s 972us/step - loss: 0.4074 - accuracy: 0.8062 - val_loss: 0.4441 - val_accuracy: 0.8002
Epoch 98/100
684/684 [==============================] - 1s 936us/step - loss: 0.4073 - accuracy: 0.8058 - val_loss: 0.4448 - val_accuracy: 0.7987
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8055 - val_loss: 0.4435 - val_accuracy: 0.8005
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4069 - accuracy: 0.8064 - val_loss: 0.4449 - val_accuracy: 0.8002

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4676 - accuracy: 0.7874 - 214ms/epoch - 800us/step
Loss: 0.46761372685432434, Accuracy: 0.787405252456665

In [41]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

C:\Users\61452\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(